<f:be.container loadExtJsTheme="true" loadExtJs="true">
    <div id="typo3-inner-docbody" class="typo3-extension-manager">



        <f:flashMessages renderMode="div" />

        <f:render partial="FormErrors"/>



        <div >
            <h1><img style="max-width: 800px;height: 25px; padding: 0 5px 0 0;" src="{f:uri.resource(path:'images/secsign16x16.png')}">SecSign ID</h1>
            <p>Use SecSign ID two-factor authentication on your Typo3 site with an easy and highly secure user login using iOS or Android mobile devices.</p>

           <ol>
               <li><a href="#installation">Installation</a></li>
               <li><a href="#config">Configuration</a></li>
               <li><a href="#displayloginform">Display the FE Login Form</a></li>
               <li><a href="#fe">FE User Configuration</a></li>
               <li><a href="#be">BE User Configuration</a></li>
               <li><a href="#troubleshooting">Troubleshooting</a></li>
           </ol>

           <hr id="installation">
            <h2>1) Installation</h2>
            <p><strong style="color: orange">Note:</strong> If you see this page, you have already installed the Plugin successfully.</p>
            <p>Prerequesites</p>
            <ul>
                <li>A working Typo3 6.2 LTS Installation on PHP 5.3.7 or higher.</li>
                <li>Curl has to be activated. Open the Install-Tool and check the Parameter [SYS][curlUse] under the section "All Configuration".</li>
            </ul>

<p>Installation</p>
            <ol>
                <li>Log into the Typo3 backend and click on "Admin Tools &gt; Extension Manager" in the main menu.
                 <li>Click on the "Upload Extension" button, select the downloaded zip archive in the opening form and hit "Upload!".</li>
                <li>When the extension was successfully installed, you will see a green activated icon.</li>
            </ol><img src="{f:uri.resource(path:'screenshots/install.png')}" style="max-width: 800px;margin: 20px auto;border: 1px solid #E5E5E5;width: 90%;display: block;">
            <hr id="config">



            <h2>2) Configuration</h2>
            <p>The configuration panel lets you manage the extension behaviour for the Frontend and Backend login process.</p>
            <ol>
                <li>Log into the Typo3 backend and click on "Admin Tools &gt; Extension Manager" in the main menu.</li>
                <li>Search for the SecSign ID Extension and click on the "Configure" icon in the "Actions" column.</li>
                <li>Under the front- and backend tab you are going to find the following options:</li>
            </ol>
            <p><strong>Frontend:</strong></p>
            <ul>
                <li><strong>Service name:</strong> The name of this web site as it shall be displayed on the user\'s smart phone.</li>
                <li><strong>Login Redirection Page:</strong> Select the page the user will be redirected to after a successful login. If empty, the user will return to the same page.</li>
                <li><strong>Logout Redirection Page:</strong> Select the page the user will be redirected to after successfully ending their current session by logging out.If empty, the user will return to the same page.</li>
                <li><strong>Enable Frontend Password Login:</strong> Enables the Typo3 password login for frontend users. To improve security, you should always use SSL if you enable this option.</li>
                <li><strong>Enable Frontend frame and box-shadow:</strong>  Change the layout of the SecSign ID frontend login form.</li>
                <li><strong>Show Greeting:</strong> Show or hide the simple greeting text.</li>
                <li><strong>Show Name/Username:</strong> Displays the Typo3 name or SecSign ID after login.</li>
            </ul>
            <p><strong>Backend:</strong></p>
            <ul>
                <li><strong>Enable Backend:</strong> Use SecSign ID for backend authentication. JavaScript needs to be enabled in your browser.</li>
                <li><strong>Disable Typo3 password login:</strong> If the SecSign ID backend authentication is enabled, you can disable the backend login with Typo3 credentials. Users without a valid SecSign ID are not able to login anymore.
                <li><strong>Help:</strong> Displays the Help page under Admin Tools - Secsign ID. Reload backend after change.</li>
                <li><strong>Syslog:</strong> Writes all backend login errors to the syslog.</li>
            </ul>
            <img src="{f:uri.resource(path:'screenshots/config1.png')}" style="max-width: 800px;margin: 20px auto;border: 1px solid #E5E5E5;width: 90%;display: block;">
            <hr id="displayloginform">



            <h2>3) Display the FE Login Form</h2>
            <p>In order to use the SecSign ID frontend login, you need to assign it to a page.</p>
            <ol>
                <li>Log into the Typo3 backend and click on a page in the page view.</li>
                <li>Create a new content element by clicking on a "Add a new record" icon and choose "Plugins &gt; General Plugin" in the opening form</li>
                <li>Click on the plugin tab, choose "secsignFE" and save your changes.</li>
            </ol>
            <img src="{f:uri.resource(path:'screenshots/install2.png')}" style="max-width: 800px;margin: 20px auto;border: 1px solid #E5E5E5;width: 90%;display: block;">
            <hr id="fe">



            <h2>4) FE User Configuration</h2>
            <p>To use the SecSign ID two-factor authentication on your website, you need to assign a SecSign ID to a frontend user profile.</p>
            <ol>
                <li>Go to your Typo3 backend and open a website user profile.</li>
                <li>Assign a SecSign ID to the profile to allow SecSign ID authentication.</li>
            </ol><img src="{f:uri.resource(path:'screenshots/fe.png')}" style="max-width: 800px;margin: 20px auto;border: 1px solid #E5E5E5;width: 90%;display: block;">
            <hr id="be">
            <h2>4) BE User Configuration</h2>
            <p>To use the SecSign ID two-factor authentication on your Typo3 backend login, you need to assign a SecSign ID to a backend user profile.</p>
            <ol>
                <li>Go to your Typo3 backend and click on "System &gt; Backend Users" at the main menu.</li>
                <li>Assign a SecSign ID to the user profile to allow SecSign ID authentication.</li>
            </ol><img src="{f:uri.resource(path:'screenshots/be.png')}" style="max-width: 800px;margin: 20px auto;border: 1px solid #E5E5E5;width: 90%;display: block;">
            <hr id="troubleshooting">


            <h2>5) Troubleshooting</h2>
            <p>If you enabled the SecSign ID backend login and locked yourself out, do the following steps in order to disable the SecSign ID backend login.</p>
            <ol>
            <li>Go to "typo3conf/localConfiguration.php" via ftp and search for "secsignEnableBE"</li>
            <li>Change <span style="background-color:#ddd;font-family:courier, monospace;">s:15:"secsignEnableBE";s:1:"<b>1</b>";</span> to <span style="background-color:#ddd;font-family:courier, monospace;">s:15:"secsignEnableBE";s:1:"<b>0</b>";</span></li>
            <li>Save the changes and reload the backend login page</li>
            </ol>

            <p>If you log into the typo3 backend with your SecSign ID and you always get back to the login screen, do the following:</p>
            <ol>
                <li>Make sure you assigned a SecSign ID to your Typo3 user (<a href="#be">see 4</a>).</li>
                <li>Make sure you enable the system_log in the SecSign configuation (<a href="#config">see 2</a>).</li>
                <li>Try to login again and then check "System &gt; Log" for SecSign errors. If you can't login use the method above or checkout the sys_log SQL table.</li>
            </ol>


            <hr><br>
            <p>More information about the advantages of our two-factor authentication at <a href="http://secsign.com" target="_blank">secsign.com</a></p>
        </div>


    </div>
</f:be.container>